data/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"get-gsheet-cells","disabled":false,"info":""},{"id":"f56cb543.3a3798","type":"tab","label":"backup node-red flows","disabled":false,"info":""},{"id":"a6f919b3.740e88","type":"gauth"},{"id":"2306724f.16abde","type":"GSheet","z":"f6f2187d.f17ca8","creds":"a6f919b3.740e88","method":"get","action":"","sheet":"1dQo7K9W39TufT986AXvYYuUuK26E1mv2zrM65vOsobM","cells":"data-1!A2:A7","flatten":false,"name":"","x":140,"y":340,"wires":[["a624d661.fd5cb8"]]},{"id":"a624d661.fd5cb8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":340,"wires":[]},{"id":"449c76bd.419bd8","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["2306724f.16abde"]]},{"id":"ce7b8d1a.7da45","type":"inject","z":"f56cb543.3a3798","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[["cd361543.372288"]]},{"id":"cd361543.372288","type":"exec","z":"f56cb543.3a3798","command":"/opt/data/backup.sh","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":240,"wires":[["279fe857.7020e8"],["bdbfecad.e6053"],["d86a884c.914e48"]]},{"id":"279fe857.7020e8","type":"debug","z":"f56cb543.3a3798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":160,"wires":[]},{"id":"bdbfecad.e6053","type":"debug","z":"f56cb543.3a3798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"d86a884c.914e48","type":"debug","z":"f56cb543.3a3798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]}]